@import './variable.scss';

@import "~element-ui/packages/theme-chalk/src/index";

@import './reset.scss';


/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 4px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #999;
    box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}


*::selection{
    background-color: rgba(0,151,255,.15);
}


html,body,.app{
    margin:0;
    height: 100%;
    font-family: Avenir, Tahoma, Arial, PingFang SC, Lantinghei SC,
        Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif,
        WenQuanYi Micro Hei, Helvetica, sans-serif;

}

em.highlight{
    background-color: #ff9;
}

.mar-r-8{
    margin-right: 8px;
}